@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

*{
margin:0;
padding:0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
font-family: 'Merriweather Sans', sans-serif;
}

::-webkit-scrollbar { 
display: none;

}

/* Header */

header {
width: 100%;
height: 70px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
background: #151515;
color: #fff;
}

.logo {
letter-spacing: .2.5rem;
margin-left: 30px;
color:#fff;
text-decoration: none;
}

.nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
width: 30%;
margin-right: 30px;
}

.navlink {
list-style: none;
margin: 0;
}

.navlink a {
color: #fff;
text-decoration: none;
font-size: 1rem;
padding-bottom: 3px;
}

.navlink a:hover {
color: #C13636;
border-bottom: 1px solid #C13636;
-webkit-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
}

.burger {
font-size: 1.5rem;
display: none;
margin-right: 1rem;
}

@media (max-width: 1024px) {
.logo {
    font-size: 1rem;
}

.burger {
    display: block;
    color: #c7c7c7;
    margin-right: 30px;
    cursor: pointer;
}
.nav {
    margin: 0;
    background: #151515e6;
    position: fixed;
    right: -100%;
    top: 70px;
    width: 75%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: 1px solid #000;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
}
.navlink {
    text-align: center;
    padding: 1.5rem;
}

.navlink a {
    font-size: 1.3rem;
}


.nav-active {
    right: 0;   
    position: absolute;
    z-index: 3;
}
}

/* Hero */
.hero {
margin-bottom: 40px;
}

.banner {
background-image:url('../images/hero-bg.svg');
height: 80vh;
width:auto;
background-size:cover;
background-position:center;
overflow:hidden;

}

.banner 
.slide {
width:100vw;
height:100%;
display:inline-block;
}

.banner 
.slidearea {
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
height:100%;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
text-align: center;
color:#fff;
}

.banner h1 {
text-transform: uppercase;
font-weight: bold;
font-size:48px;
}

.banner h2 {
font-size: 30px;
color:#C13636;
}

.banner h2 {
text-transform: uppercase;

}

.custom-btn {
color: #fff;
width: 220px;
height: 48px;
padding: 12px 40px;
font-weight: 700;
background: transparent;
cursor: pointer;
-webkit-transition: all 0.8s ease;
-o-transition: all 0.8s ease;
transition: all 0.8s ease;
position: relative;
display: inline-block; 
font-size: 1.2rem;
}

.btn-1 {
border: none;
outline: none;
background-color:#C13636 ;
-webkit-box-shadow: 0 0 5px red;
        box-shadow: 0 0 5px red;
text-decoration: none;
border-radius: 5px;
margin-top: 10px;
}

.btn-2 {
color: #fff;
width: 139px;
height: 48px;
font-weight: 700;
text-decoration: none;
border-radius: 5px;
padding-top: 13px;
text-align: center;
margin-left: 10px;
background-color: #C13636;
}

.btn-1:hover {
    -webkit-box-shadow: 0 0 20px red, 0 0 40px red, 0 0 40px #000 inset;
            box-shadow: 0 0 20px red, 0 0 40px red, 0 0 40px #000 inset;
}

.btn-2:hover {
    background-color: #d33030;
}

@media (max-width: 600px) {
header h1{
    font-size: 1.5rem;
}

.logo {
    font-size: 1.5rem;
}

.slidearea{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.banner h1 {
    font-size: 2rem;
}

.banner h2 {
    font-size: 1rem;
}
}

/* Primeiros Passos */
.first-steps-container {
margin-bottom: 25vh;
margin-top: 10vh;
}

.first-steps-card-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin: 70px auto;
width: 85vw;
height: 340px;
padding: 40px;
background: #2a2a2a;
border: 1px solid #2e2e2e;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
-webkit-box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
        box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
border-radius: 5px;
}

.first-step-card {
width: 270px;
height: 240px;
border-radius: 5px;
-webkit-box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
        box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF), -o-linear-gradient(bottom, #CDCDCD, #CDCDCD), #CDCDCD;
background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF)), -webkit-gradient(linear, left bottom, left top, from(#CDCDCD), to(#CDCDCD)), #CDCDCD;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #CDCDCD, #CDCDCD), #CDCDCD;
}

.first-step-card:hover{
width: 280px;
height: 250px;
-webkit-transition: .3s;
-o-transition: .3s;
transition: .3s;
cursor: pointer;
}

.first-steps-title {
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
color:#C13636;
font-size: 2rem;
margin-bottom: 40px;
}

.first-steps-title h1 {
margin-left: 10px;
}

.first-step-card-content {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.first-step-card h2 {
color:#514067;
font-size: 22px;
margin-top: 30px;
}

.first-step-card-icon img {
width: 90px;
height: 90px;
padding: 1rem;

}

.first-step-card-description {
font-size: 1.1rem;
padding: 10px;
color: #514067;
text-align: center;
font-weight: 600;
position: relative;
}

.first-step-card-description::before {
content: "";
position: absolute;
width: 20px;
height: 9px;
left: -20px;
top: 16px;
background: #C13636;
}

.footer {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 100%;
height: 180px;
background-color: #151515;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
-webkit-box-shadow: 0px 4px 4px 1px rgb(0 0 0 rgba(15, 15, 15, 0.8));
        box-shadow: 0px 4px 4px 1px rgb(0 0 0 rgba(15, 15, 15, 0.8));
}

.footer-container {
padding-left: 1.2rem;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;

}

.footer-logo {
color: #fff;
}

.social-mida {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
padding-top: 0.5rem;
padding-bottom: .5rem;;
gap: 40px;
}

.top-btn {
all: unset;
position: fixed;
right: 20px;
bottom: 20px;
cursor: pointer;
-webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
        transform: scale(1.8);
opacity: 0;
-webkit-transition: .3s;
-o-transition: .3s;
transition: .3s;
width: 1.8rem;
height: 1.5rem;
background-color:#C13636 ;
-webkit-box-shadow: 0 0 5px red;
        box-shadow: 0 0 5px red;
text-align: center;
font-size: .7rem;
padding-top: 0.2rem;
border-radius: 4px;
}

.email-footer {
color: #fff;
text-decoration: none;
}

.copy-right {
color:#4c4c4c;
margin-top: .6rem;
}

@media(max-width:1220px) {
.first-steps-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 90%;
    gap: 40px;
}
}

@media(max-width: 600px) {
.first-steps-title h1 {
    font-size: 1.5rem;
}

.first-steps-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 90%;
    gap: 40px;
}

.first-step-card {
    max-width: 250px;
    max-height: 225px;
}
}
    /* Cursos */
    .title-cursos {
    margin: 60px;
    text-align: center;
    font-family: "Merriweather Sans";
    font-size: 1.5rem;
    color: #c13636;
    }

    .swiffy-slider ul {
    margin: 60px 90px;
    background-color: #151515;
    border-radius: 5px;
    }

    .slider-container li {
    opacity: 0.7;
    }

    .slider-container img {
    border-radius: 5px;
    opacity: 0.5;
    }

    .slider-nav {
    margin-left: 100px;
    }

    .slider-nav-next {
    margin-right: 100px;
    color: #fff;
    }

    .title-slider1 {
    position: absolute;
    }

    .title-curso-sliders {
    color: rgb(255, 255, 255);
    z-index: 2;
    position: absolute;
    margin-top: -7rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    }

    .cursos-btn {
    position: absolute;
    width: 251px;
    height: 70px;
    background: #c12727;
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
    }

    .atmosphere-jkd-online {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #c13636;
    font-size: 2rem;
    margin-bottom: 40px;
    }

@media (max-width: 1024px) {
.title-curso-sliders {
    color: rgb(255, 255, 255);
    z-index: 2;
    position: absolute;
    margin-top: -3rem;
    font-size: 2rem;
}

.cursos-btn {
    position: absolute;
    width: 132px;
    height: 56px;
    background: #c12727;
    border-radius: 8px;
    padding: 19px;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 5.5rem;
}
}

@media (max-width: 767px) {
.title-cursos {
    font-size: 0.8rem;
    margin-bottom: -2rem;
    margin-top: 2rem;
}

.cursos-btn {
    width: 95px;
    height: 37px;
    padding: 12px;
    font-size: 11px;
    font-weight: bolder;
    margin-top: 0.5rem;
}

.title-curso-sliders {
    margin-top: -4.5rem;
    font-size: 1rem;
}

.swiffy-slider ul {
    margin: 60px 12px;
}

.slider-nav,
.slider-nav-next {
    margin: 0px;
}
}
    
.selecao-cursos-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin: 0 auto;

}

.selecao-cursos {
    width: 310px;
    height: 300px;
    background: rgb(244, 244, 244);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.selecao-cursos h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:#c13636;
}

.cursos-display-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    background: #eee;
    -webkit-box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    margin-bottom: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.curso-2-display,
.curso-3-display,
.curso-4-display {
    display: none;
}

.display-curso {
    opacity: 1;
	-webkit-animation-name: fadeInOpacity;
	        animation-name: fadeInOpacity;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}

.fade-in {
    width: 215px;
    height: 65px;
    background-color: #C13636;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
}

.fade-in:hover {
    width: 225px;
    height: 70px;
    background-color: #990b0b;
    -webkit-box-shadow: 0 0 5px #C12727;
            box-shadow: 0 0 5px #C12727;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.atm-tilte {
    max-width: 100%;
    height: 65px;
    left: 482px;
    top: 961px;
    background: #C12727;
    border-radius: 5px 5px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
} 

.atm-tilte h1 {
    color: #fff;
}

.atm-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.atm-btn {
    margin-top: 2rem;
}

.atm-btn a{
    text-decoration: none;
    background-color: #c12727;
    padding: 1rem;
    color: #fff;
    text-transform:uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.atm-description ul li {
    line-height: 2rem;
    font-weight: lighter;
    list-style: none;
}

.atm-description h4 {
    color: #c12727;
    margin-bottom: .7rem;
}

.atm-description,
.atm-image{
   margin: 2rem;
   
}

@-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 600px) {
    .atmosphere-jkd-online h1 {
        font-size: 1.5rem;
        margin-bottom: -7rem;
        margin-top: -5rem;
    }

    .selecao-cursos-container {
        display: block;
    }

    .selecao-cursos {
        width: auto;
        margin: 0;
        border-radius: 0px;
        background-color: #fff;
    }

    .cursos-display-container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        background: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .atm-content {
        display: block;
        height: 700px;
        margin-bottom: 3rem;;
    }
    .atm-tilte {
    border-radius: 0;
    margin-top: 1rem;
    }
    .atm-tilte h1 {
        font-size: .8rem;
    }

    .atm-image iframe {
        max-width: 100%;
    }
}

@media (min-width: 601px) and (max-width:1280px){
    .title-curso-sliders {
        font-size: 1.5rem;
    }

    .selecao-cursos-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .cursos-display-container {
        margin: 3rem;
    }

    .atm-content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .atm-image{
        margin: 0 auto;
    }

    .atm-image iframe {
        width: auto;
        height: 100%;
    }
}

/* VIDEOS */

.videos-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 450px 40px 450px;
    grid-template-columns: 450px 450px;
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
}

.video-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.video-title h1 {
    text-align: center;
    color:#c12727;
    font-size: 2.5rem;
}

.video-btn {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

@media (max-width: 1024px) {
    .videos-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 3rem;
    }

    .videos-container iframe {
        max-width: 100%;
        max-height: 100%;
    }
}

/* FAQ */

.faq-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.faq-title h1 {
    text-align: center;
    color: #c12727;
    font-size: 2.5rem;
}

.faq-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    margin: 3rem auto;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.faq-container-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3rem;
    color: #c12727;
}

.paragrafos{
    width: 600px;
    height: 100%;
    margin: 3rem auto;
    line-height: 2rem;
}

.faq-assinatura {
    font-family: 'Miniver';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 63px;
    text-align: center;
    color: #c12727;
    margin-top: 2rem;
}

.faq-btn {
    text-align: center;
    margin-bottom: 1rem;
}

@media(max-width: 800px) {
    .faq-container {
        width: 90%;
    }

    .faq-container-title img {
        width: 5rem;
        margin-left: 1rem;
    }

    .faq-container-title h2 {
        font-size: 1rem;
        padding: 1rem;
    }

    .paragrafos {
        width: auto;
    }

    .paragrafos p {
        font-size: 14px;
        padding: 1rem;
        margin-top: -2rem;
    }

    .faq-assinatura {
        font-size: 2rem;
    }
}

/* FORM */

.form-background {
    background-color: #151515;
    background-image:url('../images/hero-bg.svg');
    width:auto;
    background-size:cover;
    background-position:center;
    overflow:hidden;
}

.form-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.form-title h1 {
    text-align: center;
    color: #FFF;
    font-size: 2.5rem;
}

.form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: auto;
    margin: 3rem auto;
}

.form{
    margin: 1rem auto;
    line-height: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 90px;
    background: #fbfbfb;
    border: 2px solid #FFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.form-nome,
.form-email {
    margin-bottom: 2rem;
}

.form-nome input,
.form-email input,
.form-assunto input {
    width:100%;
    padding:6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: .5rem;  
}

.form-mensagem textarea {
    resize: none;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 6px;
}

label {
    color: #c12727;
}

.form-nome input:focus,
.form-email input:focus,
.form-assunto input:focus,
.form-mensagem textarea:focus {
    outline-color: #514067;
}

.btn-form {
    background-color: #c12727;
    cursor: pointer;
    padding: 0.8rem;
    color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1.3rem;
    margin: 1rem 2rem;
    /* outline: none; */
    border: none;
}